.wrapper {
    transition: 150ms linear;
    transform: translateY(-100%);
    position: fixed;
    top: 50%;
    left: 0;
    z-index: -1;
    width: 150px;
    height: fit-content;
    border-radius: 5px;
    box-shadow: rgba(0,0,0,.2) 2px 2px 2px 1px;
    background-color: var(--fabric-background-primary);
    display: grid;
    align-items: flex-start;
}

.button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;

}
