
.empty {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    width: 100%;
    height: 100%;
    font-weight: bold;
    color: var(--fabric-color-quaternary);


}

.filesWrapper {

    overflow-y: auto;
    overflow-x: hidden;
    max-height: 100%;
    height: 100%;

    padding: 8px;
    gap: 8px;
    border-radius: 5px;

    background: var(--fabric-background-tertiary);
    min-height: 100%;
    position: relative;

    display: grid;
    align-content: flex-start;
    grid-template-columns: repeat(auto-fill,minmax(var(--card_size), 1fr));
}


.content {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    max-height: calc(100% - 35px);
    padding: 0 4px 4px;

    display: flex;
    flex-flow: column;
    grid-auto-flow: row dense;
}

.types {
    padding: 4px 4px 4px 42px;

    display: flex;
    background-color: var(--fabric-background-secondary);
    border-bottom: var(--fabric-border-primary) 1px solid;

    position: sticky;
    top: 0;
    z-index: 100;

}

.type {
    width: 100%;
    color: var(--fabric-color-secondary);
    font-weight: 550;
    font-size: .8rem;
}