.button {
  padding: 0 2px !important;
  height: 100%;
  gap: 4px;
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.7rem;
  color: var(--pj-color-tertiary);
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.button:hover {
  color: var(--pj-accent-color);
}

.settingsButton {
  height: 23px;
  min-width: 23px;
  padding: 0 2px;
  display: flex;
  border-radius: 3px;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
  background: var(--pj-border-primary);
  border: none !important;
}

.settingsButton > * {
  font-size: 1.1rem !important;
}

.settingsButton:disabled {
  color: #999;
}

.pathWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0;
  background: var(--pj-background-tertiary);
  border-radius: 3px;
  height: 23px;
  overflow-y: hidden;
  overflow-x: auto;
  width: 100%;
  max-width: 350px;
  padding: 2px;
  font-weight: normal;
  color: var(--pj-color-secondary);
}

.divider {
  width: 2px;
  height: 20px;
  min-width: 2px;
  background: var(--pj-border-primary);
}

.importHeader {
  font-weight: 550;
}

.modal {
  color: var(--pj-color-secondary);
  display: flex;
  flex-direction: column;
  gap: 16px;
  background: var(--pj-background-primary);
  width: 35%;
  height: fit-content;
  max-height: 75%;
  border-radius: 5px;
  padding: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.toImport {
  height: 100%;
  display: grid;
  align-items: flex-start;
  align-content: start;
  overflow-y: auto;
}

.toolTip {
  display: grid;
  justify-content: flex-start;
  text-align: left;
  width: 100%;
}

.icon {
  width: fit-content;
}

.image {
  width: 100%;
  border-radius: 5px;
}

.input {
  display: grid;
  align-items: center;
  gap: 8px;
  white-space: nowrap;
  font-size: 0.7rem;
  font-weight: 500;
  width: 100%;
}

.wrapper {
  height: 100%;
  padding-left: 4px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
  max-height: 35px;
  border-left: var(--pj-background-tertiary) 2px solid;
}

.buttonGroup {
  display: flex;
  align-items: center;
}

.fileType > * {
  text-transform: capitalize;
}
