.wrapper {
    transition: 150ms linear;
    transform: translateY(-100%);
    position: fixed;
    top: 50%;
    left: 0;
    z-index: -1;
    width: 250px;
    height: fit-content;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, .2) 2px 2px 2px 1px;
    background-color: var(--background-1);
    display: grid;
    align-items: flex-start;
}

.basicButton {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    padding: 4px !important;
    height: 30px;
}

.basicIconWrapper {
    width: 30px;
    height: 30px;

    display: flex;
    align-items: center;
    justify-content: center;
}
.basicIconWrapper > *{
    font-size: 1.2rem !important;
}
.highlightIconWrapper{
    background-color: var(--background-2);
    border-top: var(--background-1) 4px solid;
    border-bottom: var(--background-1) 4px solid;
    border-radius: 5px;
    width: 45px;
    height: 45px;

    display: flex;
    align-items: center;
    justify-content: center;
}
