.modal {
  width: 550px;
  height: fit-content;
  max-height: 75%;
  overflow-y: auto;
  background: var(--pj-background-primary);
  color: var(--pj-color-primary);
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 16px;
  display: grid;
  align-items: flex-start;
  gap: 16px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.warning {
  font-weight: 550;
  font-size: 0.9rem;
  text-align: center;
}

.toBeDeleted {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 100%;
  max-height: 50vh;
  background: var(--pj-background-secondary);
  padding: 4px;
  border-radius: 5px;
  border: var(--pj-border-primary) 1px solid;
}

.options {
  gap: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.overflow {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 0.7rem;
  font-weight: 550;
}

.message {
  font-size: 0.75rem;
}
