.wrapper{
    width: 25%;
    height: 100%;
    background-color: var(--background-1);

    display: grid;
    align-items: flex-start;
    align-content: flex-start;
    gap: 4px;
    padding: 4px;
    overflow-y: auto;

}


.folder{
    height: fit-content;
    display: grid;
}

.overflow{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%;
}

