.wrapper {
    width: 100%;
    height: 100%;
    background-color: var(--background-2);
    display: flex;
    flex-flow: row wrap;

    gap: 8px;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: flex-start;

    padding: 8px;

    border-left: var(--fabric-border-primary) 1px solid;
}


.empty {
    display: grid;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    width: 100%;
    height: 100%;
    font-weight: bold;
    color: var(--fabric-color-quaternary);


}


.file {

    width: calc(10% - 14px);
    min-width: 125px;
    height: 125px;
    border-radius: 5px;
    color: var(--fabric-color-tertiary);
    border: var(--fabric-border-primary) 1px solid;
    background-color: var(--background-1);

    display: grid;
    /*align-content: space-between;*/


    cursor: pointer;

    transition: 150ms linear;

    align-items: flex-end;

}

.file:hover {
    box-shadow: rgba(0, 0, 0, .2) 2px 2px 4px 1px;
}

.file:active {
    box-shadow: none;
    outline: #0095FF 2px solid !important;
}

.contentWrapper {
    background-color: var(--background-2);
    width: 100%;
    border-top: #0095FF 1px solid;
    min-height: 35px;
    padding: 4px;
    display: grid;
    gap: 8px;

}

.label {
    font-size: .9rem;
    font-weight: 600;

}

.type {
    font-size: .75rem;
    color: var(--fabric-color-quaternary);
}

.overflow {

    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.icon {

    color: var(--fabric-color-quaternary);
    height: 100% ;

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    max-height: 100%;
    overflow: hidden;
}

.image {
    width: 100%;
    overflow: hidden;
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px 5px 0 0;
}

.infoRow {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    font-weight: bold;
    font-size: .8rem;
}

.infoRowContent {
    font-weight: normal;
}

.infoWrapper {
    display: grid;

    height: 100%;
    width: 100%;
    overflow: hidden;
    max-width: 100%;

}

.input {
    color: var(--fabric-color-secondary);
    outline: none;
    background-color: var(--fabric-background-tertiary);
    border-radius: 5px;
    border: var(--fabric-border-primary) 1px solid;
    padding: 4px 2px;
    max-width: 100%;
}
.input:focus{
    border-color: #0095ff;
}
.hovered{
    border-color: #0095ff;
}